spring.application.name: credit-application

# banco de dados
spring:
  datasource:
    url: jdbc:h2:mem:credit_application_db
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        trace: false
        web-allow-others: false
